{
	"devices_list": {
		"devices": [
			{
				"model": "{{model}}",
				"vendor": "{{vendor}}",
				"display_name": "{{name}}",
				"ip_address": "{{ip}}",
				"enable_topology": "true",
				"device_data": {
					"collect_dynamic_topology": "false",
					"user_name": "{{username}}",
					"password": "{{password}}",
					"connection_port": "22",
					"connection_protocol": "ssh",
					"override_ssh_host_key_settings": "false",
					"replace_ssh_host_key_automatically": "false",
					"inter_as_mpls_l3vpn_option_b": "false",
					"override_ssh_version": "false",
					"override_cipher": "false"
				}
			}
		]
	}
}
